/*CSS= Hojas de estilo en cascada
¿Para qué sirve?:
	estilos
	maquetar
	diseño y color
Nota: todo el orden alfabetico
pseudoelementos @
selectores - cambian atributos
	etiquetas ejem. p,html,div
	identificador ejem. #id 
	clases ejem. .class
media queries -diseño adaptativo*/

/*body{
	background:blue;
	#000000; hexdecimal 00rojo 00verde 00azul
    rgba(34,56,2,0.5);el alfa es transparecia 1 es solido .5 medio transparente 
	rgb(255,255,0);
	color:white;
	width:1024px;
}*/



body 
{
	
	border:1px solid red;
	margin:0 auto;
	width:1024px;
}
header{
	border:1px solid blue;
	text-align:center;
}
header img{
	float:right;
	margin-right:15px;
	margin-top: -60px;
	width:90px;

}
header nav{
	margin-top: 55px;
}
header nav ul li{
	background: blue;
	border-radius: 5px;
	box-shadow:3px 3px gray; /*derecha abajo color(rgb,rgba,hexadecimal o color fijo) .... negativos para izq y arriba*/
	color:white;
	display:inline-block;
	margin:0px 10px 0px 0px;
	padding: 5px 8px 5px 8px;
	width:80px;
}
header nav ul li:hover{
	background: orange;
	color:black;
}
section article{
	border:1px solid tomato;
	display:inline-block;
	vertical-align: top;
	width:32%;
}
footer{
	background: blue;
	color:white;
	margin-top:10px;
	text-align: center;
}