/*CSS= Hojas de estilo en cascada
¿Para qué sirve?:
	estilos
	maquetar
	diseño y color
Nota: todo el orden alfabetico
pseudoelementos @
selectores - cambian atributos
	etiquetas ejem. p,html,div
	identificador ejem. #id 
	clases ejem. .class
media queries -diseño adaptativo*/

/*body{
	background:blue;
	#000000; hexdecimal 00rojo 00verde 00azul
    rgba(34,56,2,0.5);el alfa es transparecia 1 es solido .5 medio transparente 
	rgb(255,255,0);
	color:white;
	width:1024px;
}*/



body 
{
	width:1024px;
	border:1px solid red;

}
header{
	text-align:center;
}
header img{
	float:right;
	width:90px;

}
header nav ul li{
	background: blue;
	color:white;
	display:inline-block;
	margin:0px 10px 0px 0px;
	padding: 5px 8px 5px 8px;
	border-radius: 5px;
}