body{
	font-size:16px; /*1em*/
	margin:0 auto; /*centramos body*/
	max-width: 1024px; /*empresa-clientes*/
	min-width: 1024px;
}
.red{
	float:right;
	margin-top:30px;*/
}
.colornaranja {
	background:orange;
	text-align: center;
}
.TitulodelPost{
	font-size: 1.8em;
	font-weight:bold;
}

header nav{
	background: orange;
	border-radius:5px;
	margin-top:60px;
	margin-bottom:10px;
	text-align:left;
}
header nav ul li{
	color:white;
	display:inline-block;
	margin-right:20px;
}

#seccion01 {
	display:inline-block;
	
}
#art01{
	border-bottom:1px solid gray;
	width:51%;
}
#art02{
	margin-left: 650px;
	vertical-align: top;
	width:45%;
}
#seccion02 article{
 display:inline-block;
}
#secc02art01{
	width:20%;
	/*vertical-align: top;*/
}
#secc02art02{
	width:30%;
}
#secc02art03{
	width:30%;
	vertical-align: top;
}